Source: niorca
Section: science
Priority: optional
Maintainer: Syed Tauhidi <stauhidi01@qub.ac.uk>
Build-Depends: debhelper-compat (= 13), g++, make
Standards-Version: 4.5.0
Homepage: https://hpdc-gitlab.eeecs.qub.ac.uk/sitauhidi/niorca
Rules-Requires-Root: no

Package: niorca
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Parallel Non-Induced Graphlet Orbit Counter
 A high-performance tool for orbit counting in large undirected graphs.
 Supports parallelism via OpenMP with multiple execution backends.
